doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Document
    body
        h1 Parcel proyect!
        ////////
        header
          .menu_bar
            a.bt-menu(href='#')
              span.icon-list2
              | Menu
          nav
            ul
              li
                a(href='#')
                  span.icon-house
                  | Inicio
              li
                a(href='#')
                  span.icon-suitcase
                  | Trabajos
              li
                a(href='#')
                  span.icon-rocket
                  | Proyectos
              li
                a(href='#')
                  span.icon-earth
                  | Servicios
              li
                a(href='#')
                  span.icon-mail
                  | Contactos

        //////
        script(src='./main.js')